/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --section-title: #FF0070;
  --accent-color: #FF0070;
  --shadow-color: #FF0070;
  --button-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.40);
  --decor-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #F1B2CE;
    --title-color: #DB00FF;
    --subtitle-color: #000028;
    --section-title: #FF0070;
    --accent-color: #FF0070;
    --shadow-color: #FF0070;
    --button-color: #FF0070;
    --hover-color: rgba(255, 0, 112, 0.40);
    --decor-color: #FF0070;
    --bg-image: url(../images/cover-image-dark.png);
  }

  .theme_light {
    --bg-image: url(../images/cover-image-light.png);
  }
}