/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--text-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin: 0 auto;
  padding: 20px;
  max-inline-size: 1440px;
  block-size: 100vh;
  margin-block-end: 60px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 70px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--button-color);
  text-align: center;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline-offset: 1px;
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.heading {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--shadow-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.825;
}

.header_title {
  position: relative;
  top: 0;
  right: 20px;
  align-self: center;
}

.header_subtitle {
  inline-size: min(50%, 490px);
  place-self: center end;
}

.subtitle {
  font-weight: 700;
  font-size: inherit;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
}

.content {
  margin-block-end: 60px;
}

.content_section {
  padding: 0 20px;
}

.content_section:not(:last-of-type) {
  margin-block-end: 80px;
}

.section-why_how {
  display: grid;
  grid-template-columns: fit-content(315px) 1fr;
  gap: 20px;
}

.section-harm {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.section_title {
  font-size: inherit;
  font-weight: 700;
  max-inline-size: 315px;
  color: var(--section-title);
}

.section_list-why {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section_list-harm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section_list:has(.list-item_title) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section_list-item > .paragraph:not(:last-of-type) {
  margin-block-end: 10px;
}

.section_list-item .subtitle {
  margin-block-end: 10px;
}

.text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text_link:hover {
  border-block-end: 1px solid var(--text-color);
}

.text_link:focus {
  outline: none;
}

.text_link:focus-visible {
  outline: 1px solid var(--text-color);
}

.block_advice .subtitle {
  margin-block-end: 20px;
}

.list-item_title {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-size: inherit;
  font-weight: 400;
  margin-block-end: 10px;
}

.collage {
  inline-size: 100%;
  padding-block-start: 20px;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px; /*в макете на 1024х768 разные отступы между ячейками, идеально выровнить не получится*/
  aspect-ratio: 1 / 1;
}

.picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.picture_sunset {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.picture_ice-cream {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.picture_tape {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.picture_books {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.picture_street {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.footer {
  max-inline-size: 1440px;
  block-size: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (768px <= width < 1024px) {
  
  .header__theme-menu {
    place-self: center end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    padding-inline-end: 20px;
  }

  .header__theme-menu-item {
    inline-size: 40px;
  }

  .heading {
    text-shadow: 4px 4px 0px var(--accent-color);
  }

  .header_title {
    align-self: start;
  }

  .header_subtitle {
    place-self: center end;
  }

  .section-why_how {
    grid-template-columns: fit-content(236px) 1fr;
  }

  .section_title {
    max-inline-size: 236px;
  }

  .section_list-harm {
    display: flex;
    flex-direction: column;
  }
}

@media (width < 768px) {

  .header {
    padding: 10px;
    margin-block-end: 40px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .header__theme-menu {
    place-self: center end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__theme-menu-item {
    inline-size: 60px;
  }

  .heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow: 4px 4px 0px var(--accent-color);
  }

  .header_title {
    position: static;
    align-self: center;
  }

  .header_subtitle {
    align-self: center;
    inline-size: 100%;
  }

  .content {
    margin-block-end: 40px;
  }
  
  .content_section {
    padding: 0 10px;
  }

  .content_section:not(:last-of-type) {
    margin-block-end: 50px;
  }

  .section-why_how {
    display: block;
  }
  
  .section-harm {
    display: block;
  }

  .section_title {
    max-inline-size: 100vw;
    margin-block-end: 20px;
  }

  .section_list-harm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .collage {
    padding-block-start: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px; 
  }

  .picture {
    max-inline-size: 90vh;
    object-fit: contain;
  }
}